<%- include('partials/head')%>


<%- include('partials/navbar')%>

<h1> The Home Page <%= 'hello world'.toUpperCase() %> </h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem ratione amet, cumque provident ut nam pariatur
    ducimus nihil, culpa aperiam, modi reprehenderit. Necessitatibus hic totam atque fuga unde laborum molestiae.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere provident fugiat voluptate, ipsa alias omnis
    soluta consequuntur voluptatum impedit voluptates officiis ea. Perferendis velit blanditiis eligendi a laborum
    explicabo
</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident nobis sunt dolore optio ullam perspiciatis.
    Recusandae nesciunt neque illum dolor provident ab? Officia voluptas accusantium maiores, dolor fugit tempore
    veniam!</p>

<%- include('partials/footer')%>